<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BulkPushSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BulkPushSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://tamimahsms.com/User/bulkpush.asmx"
        binding="basicHttpBinding" bindingConfiguration="BulkPushSoap"
        contract="OTPServiceRef.BulkPushSoap" name="BulkPushSoap" />
    </client>
  </system.serviceModel>
</configuration>
